@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: lato, sans-serif;
  color: aliceblue;
}
body{
  background-color: #F7F5E9;
}
.grid{
    background-color: rgb(139 127 105);
    display: grid;
    grid-template-columns: 40px 0px 0px;
    gap: 10px;
    padding: 50px 0 0 100px;
    height: 25vh;
    position: relative;
    z-index: 1;
}
.first-word{
    color: rgb(226, 167, 18);
    font-size: x-large;
}
.inline{
    display: inline;
    color: aliceblue;
    font-size: x-large;
}
.spaces{
    font-size: xx-small;
}
img{
    float: left;
}
nav ul {
    display: flex;
    flex-direction: row;
    margin: 70px 0 0 650px;
    height: 10vh;
}
header{
    z-index: -1;
}
.li1{
    background-color: #635A51;
    list-style-type: none;
    padding: 15px 20px 15px 30px;
    text-decoration:solid;
    border-left: 0px solid black;
    border-top-left-radius: 20px;
    border-right: 1px solid rgb(4, 4, 4);
    border-bottom-left-radius: 20px;
}
.li2{
    background-color: #635A51;
    list-style-type: none;
    padding: 15px 30px 5px 30px;
    border-right: 1px solid rgb(7, 7, 7);
}
.li3{
    background-color: #635A51;
    list-style-type: none;
    padding: 15px 30px 5px 30px;
    border-right: 1px solid rgb(3, 3, 3);
}
.li4{
    background-color: #635A51;
    list-style-type: none;
    padding: 15px 30px 5px 30px;
    border-right: 1px solid rgb(3, 3, 3);
}
.li5{
    background-color: #635A51;
    list-style-type: none;
    padding: 15px 30px 5px 20px;
    border-left: 0px solid black;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px ;
}
a.underline1 {
    text-decoration: none;
}
a.underline2 {
    text-decoration: none;
}
a.underline3 {
    text-decoration: none;
}
a.underline4 {
    text-decoration: none;
}
a.underline5 {
    text-decoration: none;
}
 .img2{
    width: 86.7vw;
    height: 50vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 50% 30%;
    border-bottom-right-radius: 50% 30%;
    position: absolute;
    top: 67%;
    z-index: -1;
 }
 .img{
    z-index: 2;
    background-color: rgba(19, 18, 18, 0.552);
    width: 30vw;
    height: 42.2vh;
    position: absolute;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 90% 30%;
    padding: 30px 10px 20px 20px;
    top: 67%;
    font-family: "Playfair Display", serif !important;
 }
 .btn{
    color: aliceblue;
    background-color: #B17B35;
    z-index: 2;
    position: absolute;
    top: 185%;
    left: 25%;
    border: 1px none black;
    padding: 12px 40px;
    border-radius: 16px;
    font-weight: bold;
    font-size: medium;
 }
 .bg{
    color: #F7F5E9;
    background-image: linear-gradient(to bottom, red, #AD271E,#952018);
    padding: 15px 20px;
    position: relative;
    z-index: 2;
    margin: 30px 20px 20px -10px;
    width: 16.5vw;
 }
 .bg1{
    color: #F7F5E9;
    background-image: linear-gradient(to bottom, #B98134, #A37333, #966D32 );
    padding: 15px 20px;
    position: relative;
    z-index: 2;
    margin: 30px 20px 20px -10px;
    width: 16.5vw;
 }
 .bg2{
    color: #F7F5E9;
    background-image: linear-gradient(to bottom, #3E6DA7, #365E92, #2D4970 );
    padding: 15px 20px;
    position: relative;
    z-index: 2;
    margin: 30px 20px 20px -10px;
    width: 16.5vw;
 }
 .information1{
    background-color: azure;
    border:1px solid rgb(198, 195, 195);
    border-top-right-radius: 50% 3%;
    border-top-left-radius:50% 3% ;
    border-bottom-left-radius: 30% 1%;
    border-bottom-right-radius: 30% 1%;
    position: absolute; 
    z-index: 1;
    top: 72%;
    left: 7%;
    width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }
 .size{
    width: 17vw;
    padding-left: 20px;
    padding-bottom: 20px;
 }
 .p1{
    color: black;
    padding: 0px 20px 20px 20px;
    font-size: small;
 }
 .btn2{
    color:aliceblue ;
    background-image:linear-gradient(to bottom, #B87C2D, #B47E3A) ;
    border: 1px none black;
    border-radius: 20px;
    padding: 3px 10px;
    margin-left: 180px ;
    margin-bottom: 20px;
 }
 hr{
    width: 60%;
    margin: 0px auto 20px; 
 }
 .information2{
    background-color: azure;
    border:1px solid rgb(198, 195, 195);
    border-top-right-radius: 50% 3%;
    border-top-left-radius:50% 3% ;
    border-bottom-left-radius: 30% 1%;
    border-bottom-right-radius: 30% 1%;
    position: absolute; 
    z-index: 1;
    top: 72%;
    left: 41%;
    width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }
 .information3{
    background-color: azure;
    border:1px solid rgb(198, 195, 195);
    border-top-right-radius: 50% 3%;
    border-top-left-radius:50% 3% ;
    border-bottom-left-radius: 30% 1%;
    border-bottom-right-radius: 30% 1%;
    position: absolute; 
    z-index: 1;
    top: 72%;
    left: 75%;
    width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }
 .small-img{
    width: 5vw;
    height: 8vh;
    padding: 14px 10px 14px 0px;
 }
 .black-p{

    color: black;
    font-size: x-small;
    margin-right: 15px;
    padding: 21px 0px 20px 5px;
 }
 footer{
    background-color: #DDDAC7;
    height: 20.4vh;
    position: relative;
    margin-top: 1155px;
 }
 .footer{
    background-color: #8B7F69;
    color: white;
    margin: 0px 44px;
    position: absolute;
    top: 165%;
    z-index: 2;
    height: 28.7vh;
    width: 94vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px none #2D4970 ;
    border-top-right-radius: 50% 30%;
    border-top-left-radius: 50% 30%;
 }
 .h3{
    margin: 60px 0px 10px 60px ;
    font-size: medium;
 }
 .paragraph{
    padding: 5px 0px 10px 60px;
    font-size: small;
 }
 .under-footer{
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 0;
 }
.h4{
    margin: 60px 0px 10px 70px ;
    font-size: medium;
 }
 .name{
    padding: 3px 0px 4px 3px;
    width: 13vw;
    margin: 10px 0px 10px 70px;
    background-color: #2C2825;
 }
 .email{
    padding: 3px 0px 4px 3px;
    width: 13vw;
    margin: 0px 0px 10px 70px;
    background-color: #2C2825;
 }
 .button{
    padding: 3px 0px 4px 3px;
    width: 7vw;
    margin: 0px 0px 10px 162px;
    background-color: #E1BE01;
    border: none;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 .align{
    font-size: x-small;
    position: absolute;
    top: 191%;
    z-index: 2;
    margin-left: 100px;
 }